<div class="w-full h-full bg-black/50 backdrop-blur-sm flex items-center justify-center">
  <div class="w-1/2 h-screen bg-white border-r-2 flex items-center justify-center bg-no-repeat bg-cover "
    style="background-image: url({{food?.recipe?.images?.REGULAR?.url}});">
    <img [src]="food?.recipe?.images?.REGULAR?.url" alt="" class="rounded-full w-auto object-cover shadow-xl border-2
      border-black hover:scale-105 ease-in-out duration-1000 hover:cursor-pointer">
  </div>
  <div class="w-1/2 h-max py-5 border-r-2 flex font-pro text-center" id="bg">
      <div class="w-full h-max py-2 gapy-1">
        <h1 class="text-3xl text-red-500">{{food?.recipe?.label}}</h1>
        <h1 class="text-xl">Ingredients:</h1>
        <div class="w-ful h-max">
          <ul style="list-style: circle;">
            <li *ngFor="let Ingredients of food.recipe.ingredientLines">{{Ingredients}}</li>
          </ul>
        </div>
      </div>
  </div>
</div>

<!-- <img [src]="food?.recipe?.images?.REGULAR?.url" class="w-40 h-40" alt="foood"> -->
<!-- routerLink="/" -->
